[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cloudinary = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
python-decouple = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
