{% load static %}
<div class="navigation">
	<div class="logo">
		<a  href="{% url 'home'%}"> BonInsta </a>
	</div>
	<div class="navigation-search-container">
		<input class="search-field" type="text" placeholder="Search" />
        <!-- <i class="fa fa-search"></i> -->
	</div>
	<div class="navigation-icons">
        <a  class="navigation-link">
            <img src="{% static 'images/home.PNG' %}" alt="">
        </a>
        <a  class="navigation-link">
            <img src="{% static 'images/messenger.PNG' %}" alt="">
        </a>
        <a  class="navigation-link">
            <img src="{% static 'images/add.PNG' %}" alt="">
        </a>
		<a class="navigation-link">
            <img src="{% static 'images/explore.PNG' %}" alt="">			
		</a>
		<a class="navigation-link">
			<img src="{% static 'images/like.PNG' %}" alt="">
		</a>
        <a class="navigation-link user-profile">
            <img src="{% static 'images/cove1.jpg' %}" alt="">
        </a>
	</div>
</div>


<!-- 
    <i class="far fa-heart">
				<div class="notification-bubble-wrapper">
					<div class="notification-bubble">
						<span class="notifications-count">99</span>
					</div>
				</div>
			</i>
 -->