{% extends 'main.html' %} {% load static %} {% block content %}

<section class="main">
	<div class="wrapper">
		<div class="left-col">
			<div class="stories">
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<p class="username">user_name_1</p>
				</div>
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<a
						><p class="username">user_name_2</p></a
					>
				</div>
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<p class="username">user_name_3</p>
				</div>
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<p class="username">user_name_3</p>
				</div>
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<p class="username">user_name_3</p>
				</div>
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<p class="username">user_name_3</p>
				</div>
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<p class="username">user_name_3</p>
				</div>
				<div class="story">
					<div class="dp">
						<img src="{% static 'images/cove1.jpg' %}" alt="" />
					</div>
					<p class="username">user_name_3</p>
				</div>
			</div>
			{% for post in posts%}
			<div class="post">
				<div class="info">
					<div class="user">
						<a href="{% url 'profile' post.profile.user%}">
							<div class="dp">
								<img src="https://res.cloudinary.com/twin221/{{post.profile.dp}}" alt="" /></div
						></a>		
						<p class="username">{{post.profile.user}}</p>
					</div>
					<img src="{% static 'images/option.PNG' %}" class="options" alt="" />
				</div>
				<img src="https://res.cloudinary.com/twin221/{{post.image}}" class="post-image" alt="" />
				<div class="post-content">
					<div class="reaction-wrapper">
						<img src="{% static 'images/like.PNG' %}" class="icon" alt="" />
						<img src="{% static 'images/comment.PNG' %}" class="icon" alt="" />
						<img src="{% static 'images/send.PNG' %}" class="icon" alt="" />
						<img
							src="{% static 'images/save.PNG' %}"
							class="save icon"
							alt=""
						/>
					</div>
					<p class="likes">1,012 likes</p>
					<p class="description">
						<span>{{post.profile.user}}</span> {{post.caption}}
					</p>
					<p class="time">{{post.posted|timesince}} ago</p>
				</div>
				<div class="comment-wrapper">
					<img src="{% static 'images/smile.PNG' %}" class="icon" alt="" />
					<input type="text" class="comment-box" placeholder="Add a comment" />
					<button class="comment-btn">post</button>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="right-col">
			<div class="profile-card">
				<div class="dp">
					<img src="{% static 'images/cove1.jpg' %}" alt="" />
				</div>
				<div>
					<p class="username">twin_bro_221</p>
					<p class="sub-text">twin bro</p>
				</div>
				<button class="action-btn">switch</button>
			</div>
			<p class="suggestion-text">Suggestions for you</p>
			<div class="profile-card">
				<div class="dp">
					<img src="{% static 'images/cove1.jpg' %}" alt="" />
				</div>
				<div>
					<p class="username">twin_bro_221</p>
					<p class="sub-text">followed by user</p>
				</div>
				<button class="action-btn">follow</button>
			</div>
			<div class="profile-card">
				<div class="dp">
					<img src="{% static 'images/cove1.jpg' %}" alt="" />
				</div>
				<div>
					<p class="username">twin_bro_221</p>
					<p class="sub-text">followed by user</p>
				</div>
				<button class="action-btn">follow</button>
			</div>
			<div class="profile-card">
				<div class="dp">
					<img src="{% static 'images/cove1.jpg' %}" alt="" />
				</div>
				<div>
					<p class="username">twin_bro_221</p>
					<p class="sub-text">followed by user</p>
				</div>
				<button class="action-btn">follow</button>
			</div>
		</div>
	</div>
</section>

{% endblock %}
