{% extends 'main.html' %} {% block content %}

<header>
	<div class="container">
		<div class="profile">
			<div class="profile-image">
				<img
					src="https://res.cloudinary.com/twin221/{{profile.dp}}"
					alt=""
				/>
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name">{{user_obj.username}}</h1>

				<button class="btn profile-edit-btn">Edit Profile</button>

				<button class="btn profile-settings-btn" aria-label="profile settings">
					<i class="fas fa-cog" aria-hidden="true"></i>
				</button>
			</div>

			<div class="profile-stats">
				<ul>
					<li><span class="profile-stat-count">50</span> posts</li>
					<li><span class="profile-stat-count">{{followers.count}}</span> followers</li>
					<li><span class="profile-stat-count">{{following.count }}</span> following</li>
				</ul>
			</div>

			<div class="profile-bio">
				<p>
					<span class="profile-real-name">{{profile.user.username}} -</span> {{profile.bio}}
				</p>
			</div>

		</div>
        
		<!-- End of profile section -->
	</div>
	<!-- End of container -->
</header>


<article>
	<div class="container">
		<div class="gallery">
			{% for post in posts %}
			<div class="gallery-item" tabindex="0">
				<img
					src="https://res.cloudinary.com/twin221/{{post.image}}"
					class="gallery-image"
					alt=""
				/>

				<div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes">
							<span class="visually-hidden">Likes:</span
							><i class="fas fa-heart" aria-hidden="true"></i> {{post.like}}
						</li>
						<li class="gallery-item-comments">
							<span class="visually-hidden">Comments:</span
							><i class="fas fa-comment" aria-hidden="true"></i> 5
						</li>
					</ul>
				</div>
			</div>
			{% endfor %}
			
		</div>
		<!-- End of gallery -->

		<div style="margin-top:2.5rem; margin-bottom:1.5rem;" class="loader"></div>
	</div>
	<!-- End of container -->
</article>

{% endblock %}
